[Unit]
Description=updatebtw boot-time update
Documentation=https://github.com/ChristianWSmith/updatebtw
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/updatebtw update
Environment=SYSTEMD_INHIBIT=1
Environment=UPDATERBTW_ROOT=/usr/lib/updatebtw
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
